body {
  margin: 0;
  font-family: Fertigo !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Fertigo, source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Fertigo';
  font-weight: 300;
  src: local('Fertigo'), url(./assets/fonts/fertigo.otf) format('opentype');
}
